@page "/Trabajo/Details/{TrabajoId:int}"
@rendermode InteractiveServer
@inject TrabajoService trabajoService
@inject IJSRuntime JS
@inject NavigationManager navigation

<PageTitle>Detalle del trabajo</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		@*Header*@
		<div class="card-header bg-primary text-white text-center">
			<h3><strong>Destalles del Trabajo</strong></h3>
		</div>
		@*Body*@
		<div class="card-body">
			<h5><strong>Estos son los detalles del trabajo</strong></h5>
			@if (Trabajo != null)
			{
				@*Datos*@
				<div class="mb-1">
					<p class="mb-0">trabajo: @Trabajo.TrabajoId</p>
				</div>
				<div class="mb-1">
					<p class="mb-0">Fecha: @Trabajo.Fecha</p>
				</div>
				<div class="mb-1">
					<p class="mb-0">Cliente: @Trabajo.Cliente.Nombres</p>
				</div>
				<div class="mb-1">
					<p class="mb-0">T&eacute;cnico: @Trabajo.Tecnicos.Nombres</p>
				</div>
				<div class="mb-1">
					<p class="mb-0">Descripci&oacute;n: @Trabajo.Descripcion</p>
				</div>
				<div class="mb-1">
					<p class="mb-0">Prioridad: @Trabajo.Prioridad.Descripcion</p>
				</div>

				<div class="mb-1">
					<p class="mb-0">Monto: @Trabajo.Monto</p>
				</div>
			}
			else
			{
				<p>No se encontr&oacute; ning&uacute;n Trabajo con el ID especificado.</p>
			}


		</div>
		@*Footer*@
		<div class="card-footer">
			<a type="button" href="/Trabajo/Index" class="btn btn-outline-danger"><span class="bi bi-arrow-bar-left"></span> Volver </a>
			<button type="submit" @onclick="Terminar" class="btn btn-success bi bi-check-circle"> Finalizar </button>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public int TrabajoId { get; set; }
	Trabajos Trabajo { get; set; } = new Trabajos();
	protected override async Task OnInitializedAsync()
	{
		Trabajo = await trabajoService.Buscar(TrabajoId);
	}

	public async void Terminar()
	{

		string mensaje = $"La solicitud {Trabajo.Descripcion} ha sido realizada de manera existosa, espero seguir colaborando con usted";
		string codificacion = Uri.EscapeDataString(mensaje);
		String URLwasa = $"https://wa.me/+{Trabajo.Cliente.WhatsApp}?text={codificacion}";

		await JS.InvokeVoidAsync("open", URLwasa, "_blank");

	}
}
